@import "mixins/_mixins.scss";
@import "style.scss";
@import "layout.scss";
@import "form.scss";

.store {
  .list {
    .list-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0 0 10px 0;
      }

      a {
        color: $gray;
      }
    }

    .list-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .list-element {
        width: 48%;
        max-width: 250px;
        margin-bottom: 30px;

        .art-work {
          margin-bottom: 10px;
        }

        .name {
          font-size: 18px;
          margin-bottom: 5px;
        }

        .authors {
          color: $gray;
        }
      }
    }
  }

  .post {
    .head {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 30px;

      .artwork {
        margin-right: 30px;
        max-width: 200px;
      }

      .info {
        .name {
          margin: 0;
          margin-bottom: 24px;
          font-size: 2rem;
        }

        .artist {
          margin-bottom: 16px;
          color: $gray;
          font-size: 16px;
        }

        .date {
          color: $gray;
          font-size: 12px;
        }
      }
    }

    .plist {
      margin-bottom: 24px;

      .element {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .link {
          font-size: 16px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          height: 26px;
          overflow: hidden;
          line-height: 26px;

          .title {
            color: #000;
          }

          .n {
            width: 50px;
            display: inline-block;
          }
        }

        .actions {
          img {
            height: 26px;
          }
        }
      }
    }

    .prvw {
      .head {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $light;

        .rtitle {
          font-size: 1.5rem;
          color: $gray;
          padding: 10px;
          margin: 0;
        }

        .ravn {
          font-size: 13px;
          color: $primary;
        }
      }

      .reviews {
        padding-bottom: 5rem;

        .rlist {
          .element {
            display: flex;
            align-items: flex-start;
            margin-bottom: 16px;

            .avatar {
              width: 50px;
              padding: 5px;
              margin-right: 10px;

              img {
                border-radius: 50%;
              }
            }

            .content {
              flex: 1;
              border: 1px solid $light;
              border-radius: 10px;
              padding: 15px;
              background: rgba(200, 200, 200, 0.05);

              .rn {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .user-name {
                  font-size: 14px;
                  margin-bottom: 10px;
                }

                .rate {
                  font-size: 18px;
                  font-weight: 800;
                  margin-bottom: 5px;
                  color: $danger;
                }

                .rate.is-good {
                  color: $primary;
                }
              }

              .comment {
                margin-bottom: 10px;
                line-height: 20px;
                font-size: 13px;
              }

              .date {
                color: $gray;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}
