$primary:#a55eea;
$white:#fff;

@import "mixins/_mixins.scss";

* {
  box-sizing: border-box;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body {
  background: $light;
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 598px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

main {
  height: 100%;
  background: #fff;
  margin: auto;
  position: relative;
}

.button {
  height: 48px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.is-primary {
  background: $primary;
  color: $white;
}

.hidden {
  visibility: hidden;
}

.vt-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-block {
  display: block;
}
