$primary:#A55EEA;
$white:#fff;

body{
    background: #000;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding:0px;
    margin:0px;
}
main{
    width:375px;
    height: 667px;
    background: #fff;
    margin:auto;
    position: relative;
}
.page{
    position: absolute;
    top: 0px;
    left: 0px;
    right:0px;
    bottom:0px;
    
    
    }
.button{
    height:48px;
    background:#fff;
    color:#000;    
    text-decoration: none;    
    border-radius:10px;
    display:flex;
    justify-content: center;
    align-items: center;    
}

.button.is-primary{
  background:$primary;
  color:$white;
}