* {
  box-sizing: border-box;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  background: #f2f3f5;
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 598px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

main {
  height: 100%;
  background: #fff;
  margin: auto;
  position: relative;
}

.button {
  height: 48px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.is-primary {
  background: #a55eea;
  color: #fff;
}

.hidden {
  visibility: hidden;
}

.vt-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-block {
  display: block;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
}
.page .lyt-p15 {
  padding: 0 15px;
}
.page .lyt-p24 {
  padding: 0 24px;
}
.page .page-head {
  height: 68px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 5px rgba(103, 103, 103, 0.1);
  z-index: 2;
}
.page .page-head .nav-item {
  margin-right: 30px;
  font-size: 1.2rem;
  color: #a55eea;
  font-weight: 500;
}
.page .page-head .nav-item img {
  height: 30px;
}
.page .page-head .search {
  float: right;
  margin-left: auto;
  margin-right: 0;
}
.page .page-content {
  position: absolute;
  top: 68px;
  width: 100%;
  bottom: 68px;
  overflow: auto;
  z-index: 1;
  padding-top: 24px;
}
.page .page-content .title {
  color: #a55eea;
}
.page .page-footer {
  height: 68px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(103, 103, 103, 0.1);
  z-index: 2;
}
.page .page-footer .is-bigbuton {
  height: 68px;
  border-radius: 0;
  cursor: pointer;
}

.menu {
  background: #fff;
  color: #a55eea;
}
.menu .page-head {
  box-shadow: none;
}
.menu .page-head .close {
  float: right;
  margin-left: auto;
  margin-right: 0;
}
.menu .page-head .close img {
  color: #fff;
}
.menu .page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu .page-content .mtitle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.menu .page-content .mlist .mlink {
  display: block;
  padding: 15px;
  text-align: center;
  color: #a55eea;
  font-size: 1.5rem;
}

.form .field {
  margin-bottom: 15px;
}
.form .field .control .input {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 50px;
  padding: 0 15px;
  border: 1px solid #f2f3f5;
  border-radius: 10px;
  cursor: pointer;
}
.form .field .control .select {
  height: 50px;
  border: 1px solid #f2f3f5;
  border-radius: 10px;
  padding-right: 5px;
}
.form .field .control .select select {
  border: none;
  background: none;
  padding: 0 15px;
  height: 50px;
  width: 100%;
  max-width: 100%;
}

.form {
  width: 300px;
}

/*# sourceMappingURL=login.css.map */
